
header {
  background-color:var(--color-bg-pri);
  font-family: var(--text-font-pri);
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}


/* Post  */

.post {
    color: var(--color-text-sec);
    background-color: var(--color-bg-sec);
    margin: 0%;
    text-align: center; /* Centralizar texto dentro do post (opcional) */
    line-height:3.5rem;
}
  
#frete {
    display: none;
    justify-content: center; /* Alinhar horizontalmente no centro */
}
  
#app20, #frete {
    display: block; /* Exibir os textos como blocos */
}


/* Menu-hamburguer  */

.cabecalho{
  background-color: var(--color-bg-pri);
  margin: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container_imagem_menu{
 padding: 0.5rem;
 margin: 0%;
}

.container_imagem{
  padding: 0.5rem;
}

li{
  display: flex;
  align-items: center;
}

.lista-menu{
  display: none;
  position: absolute; 
  top: 100%;
}

.container_botao:checked ~ .lista-menu{
  display: block;
}

.lista-menu_login{
  text-align: left;
  background-color: var(--color-bg-pri);
  padding: 1rem;
}

.lista-menu_texto{
  text-align: left;
  background-color: var(--color-bg-pri);
  padding: 1rem;
  font-size: 0.75em;
}

.link_login{
  padding-left: 0.5rem;
  font-weight: 600;
}

.lista-menu_titulo_img{
  padding-right: 0.25rem;
}

.lista-menu_titulo,
.lista-menu_item {
  padding: 1rem;
  background-color: var(--color-bg-pri);
  text-align: left;
}

.lista-menu_titulo{
  color: var(--color-text-qua);
}

.lista-menu_link{
  color: var(--color-text-qua);
  text-decoration: none;
}

.container_botao{
  display: none;
}


/*Barra de Pesquisa*/

.barra-pesquisa {
  background-color: transparent;
  width: 360px;
  border: 0.125rem solid var(--color-bg-qui);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0rem 1rem 1rem 1rem;

}

.barra-pesquisa::placeholder {
  background: url(../img/icon/icon_pesquisa.svg) no-repeat;
  background-position: right;
  color: var(--color-bg-sec);
  padding: 0.25rem;  
}


/*Localização*/

.localizacao {
  display: block;
  align-items: center;
}

.localizacao > img {
  padding-right: 0.5rem;
  height: 0.75rem;
}

.localizacao > a {
  text-decoration: none;
  color: var(--text-font-ter);
  font-size: 0.75em;
}
