main {
  background-color:var(--color-bg-pri);
  font-family: var(--text-font-pri);
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.banner-container {
  height: auto;
  margin: 1rem;
}

.banner-imagem {
  width: 100%;
}
 
h1 {
  margin: 2.5rem 2rem 0rem 2rem;
  text-decoration:underline;
  color: var(--color-text-pri);
  display: flex;
  font-weight: 700;
  text-align: left;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  text-decoration-color: var(--color-bg-sex);
}