main {
  background-color:var(--color-bg-pri);
  font-family: var(--text-font-pri);
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.banner-container {
  height: auto;
  margin: 1rem;
}

.banner-imagem {
  width: 100%;
}
 
h1 {
  margin: 2.5rem 2rem 0rem 2rem;
  text-decoration:underline;
  color: var(--color-text-pri);
  display: flex;
  font-weight: 700;
  text-align: left;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  text-decoration-color: var(--color-bg-sex);
}

.container_produtos {
  margin: 2rem 1rem;
}

.card-produto {
  display: inline-block; /* Permite que os cards fiquem lado a lado */
  align-items: center;
  margin: 1rem;
  text-align: center;
  
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
}

.card-produto img {
  width: 100%;
  height: 200px; /* Ajuste a altura da imagem */
  object-fit: cover; /* Mantenha a proporção da imagem */
  margin-bottom: 15px;
}

.card-produto h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-produto p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.avaliacao i {
  color: #f0ad4e;
  margin-right: 5px;
}

.preco {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-produto button {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px; /* Posicione o botão abaixo do conteúdo do card */
  display: block; /* O botão ocupa toda a largura do card */
  width: 100%;

}
