main {
    background-color: var(--color-bg-pri);
    font-family: var(--text-font-pri);
  }


/* Banner */

.banner-container {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
  position: relative; 
  width: 100%;
}

.banner-image {
  position: absolute; 
  max-width: 100%; 
  transition: 0.5s ease-in-out; 
  opacity: 0;
}

.banner-image.active {
  opacity: 1;
}

 